/* CSS */
.nav-list {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  .nav-item {
    margin: 0;
    padding: 0;
    text-align: center;
  }
  .nav-link {
    display: inline-block;
    padding: 10px 20px; /* Измените размеры, чтобы соответствовать вашим требованиям */
    border: 2px solid #007bff; /* Цвет границы */
    border-radius: 50px; /* Задаем круглую форму */
    text-decoration: none;
    color: #007bff; /* Цвет текста */
    font-weight: bold;
    transition: background-color 0.3s ease, color 0.3s ease;
  }