.App {
  text-align: center;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: white;
  justify-content: flex-end;
  align-self: flex-start;
}

.main-box-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(44, 62, 80);
}
.pages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(206, 220, 241)
}
.navbar-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(44, 62, 80);

}
.navBar {
  bottom: 0;
  position: fixed;
}

.stack{
  display: flex;
  justify-self: flex-start;
  background-color: white;
}

#shortOperations{
  height: 150px;
}

.fullOperations{
  height: 350px;
}


.characters {
  list-style: none;
  padding-left: 0;
}

.characters li {
  display: flex;
  align-items: center;
  border: solid 2px #d0d0d0;
  border-radius: .2em;
  padding: .5em .8em .5em .5em;
  margin-bottom: 1em;
}

.characters p {
  max-width: none;
  font-weight: bold;
  margin: 0;
}

.characters-thumb {
  overflow: hidden;
  flex-shrink: 0;
  width: 2em;
  height: 2em;
  background-color: #e8e8e8;
  padding: .5em;
  margin-right: .5em;
}

.characters-thumb img {
  display: block;
  width: 100%;
  height: auto;
}
.assetBox {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  width: 100%;
  gap: 0.3em;
}

@media screen and (max-width: 768px) {
  .main-box-container {
    display: block;
  }

  .navbar-container, .pages-container {
    width: 100%;
  }
}