.App {
  /*text-align: center;*/
  /*background-color: rgb(206, 220, 241);*/
  /*height: 100%*/
}

#root {
  /*display: flex;*/
  /*flex-direction: column;*/
  /*min-height: 100%;*/
  /*justify-content: flex-end;*/
  /*align-self: flex-start;*/
  /*background-color: rgb(206, 220, 241)*/

}
.title-box{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orange;
}

.main-box-container {
  display: flex;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(44, 62, 80);
  flex-grow: 1;
  overflow-y: auto;

}
.pages-container {
  display: flex;

  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: rgb(206, 220, 241);
  flex: 1;

}
.navbar-container {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: rgb(44, 62, 80);
  overflow-y: hidden;

}
.navBar {
  bottom: 0;
  position: fixed;
  flex: 1;
}

.stack{
  display: flex;
  justify-self: flex-start;
  background-color: white;
}

#shortOperations{
  height: 150px;
}

.fullOperations{
  height: 350px;
}

.verticalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 100%;
  width: 100%;
  gap: 0.3em;
}
.horisontalContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.3em;

}
.alignCenter{
  align-items: center;
}

.horisontalContainerForWidescreen  {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 0.3em;
  align-items: center;
  justify-content: space-evenly;
}
@media screen and (min-width: 768px) {
  .horisontalContainerForWidescreen {
    flex-direction: row;
  }
}

.toolbarContainer {
  display: flex;
  justify-content: space-between; /* This will push items to the left and right edges */
  width: 95%;
}
.right-component {
  /* Styles for components aligned to the right */
  margin-left: auto; /* This pushes the component to the right edge of the container */
}

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}
.toggle-button {
  padding: 50px;
}
.input-field{
  background-color: white;
}
