.container {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Times New Roman", Times, serif;
  font-size: large;
  color: var(--color-text-primary);
}

.coin {
  width: 50px;
  height: 50px;
  background: conic-gradient(
    #bbbbbb 0%,
    #e3e3e3 25%,
    #aaaaaa 50%,
    #ffddb5 75%,
    #bbbbbb 100%
  );
  border: 1px solid #777;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaa;
  letter-spacing: 0.1em;
  font-weight: bolder;
  text-shadow: -0.51px -0.51px 0.51px #fff, 0.51px 0.51px 0.51px #555;
  box-shadow: -0.51px -0.51px 0.51px #fff, 0.51px 0.51px 0.51px #222;
  cursor: pointer;
}

.coinBig {
  width: 90px;
  height: 90px;
}

.fontBig {
  font-size: xx-large;
}

